*{
    margin : 0;
    padding : 0 ;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #eef2f3, #dfe9f3);
    height: 100vh;
    font-family: "Inter", Arial, sans-serif;
    display : flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
h1{
    margin: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #222;
}

form{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius : 18px;
    gap : 15px;
    padding : 25px;
    width: 400px;
}

label {
    width : 100%;
    text-align : left;
}

input{
    padding : 12px;
    border : 1px solid #ddd;
    border-radius : 10px;
    width : 100%;
}

button{
    padding: 12px;
    width : 100%;
    border-radius : 12px;
    background-color : #6c63ff;
    color: white;
    font-size: medium;
    font-weight : 600;
    border : none;
    cursor: pointer;
}

button:hover{
    background: #574bff;
    transform: translateY(-2px);
}


#card{
    padding: 20px;
    border-radius: 12px;
    margin-top : 10px;
    text-align: left;
}
#card p{
    color: #222;
}